<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm">
          <mat-card-content>
              <br><br>
            <!-- <img mat-card-image src="../../../assets/images/login-logo-3.png" alt="Photo of a Shiba Inu"> -->
            <img mat-card-image src="../../../assets/images/login-logo.png" alt="Photo of a Shiba Inu">
           </mat-card-content>
        </div>
        <div class="col-sm">
            <mat-toolbar>
                <span class="title-center">User Login</span> 
                </mat-toolbar>
                <br>
                <mat-card class="card-align">
                    <br>
                    <mat-card-content class="card-content-align">
                        
                        <div class="example-container">
                        <form [formGroup]="loginForm" (ngSubmit)="postLoginForm()" class="example-form">
                            <table class="">
                                <mat-card-title class="text-danger"><h4>{{message}}</h4></mat-card-title>
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Enter your Email</mat-label>
                                            <input matInput placeholder="Your Registered Email" formControlName="email" class="form-contro" required>
                                            <mat-error *ngIf="!loginForm.get('email') && !loginForm.get('email').touched "></mat-error>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Enter your password</mat-label>
                                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                            <button mat-icon-button mat-button class="material-icons btn" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <div class="form-group text-center ">
                                            <button mat-button  class="btn form-control mat-tab-label-active text-white"  [disabled]="!loginForm.valid">Login</button>
                                        </div>
                                    </td>
                                </tr>
                                        
                            </table>
                            <br><br>
                            <div class="text-center">
                                <a routerLink="/auth/registration">User Registration ?</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="">Forgot Password ?</a>
                            </div>
                           
                        </form>
                        </div>
                    </mat-card-content>
                    
                </mat-card>
        </div>
    </div>

</div>    
        