<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Paxcom</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">About</a>
            </div>
           
            <div class="nav navbar-nav flex-row ml-auto">
              <div *ngIf="isLoggedIn">
                <a class="nav-item nav-link" routerLink="/admin/dashboard">Dashboard</a>
              </div>
              <div *ngIf="isLoggedIn">
                <a class="nav-item nav-link" routerLink="/admin/post">Post</a>
              </div>
              <div *ngIf="isLoggedIn">
                <a class="btn nav-item nav-link btn-size" (click)="logout()">Logout</a>
              </div>
              <div *ngIf="!isLoggedIn">
                <a class="nav-item nav-link" routerLink="/auth/login">Login</a>
              </div>
              <div *ngIf="!isLoggedIn">
                <a class="nav-item nav-link" routerLink="/auth/registration">Sign Up</a>
              </div>
            </div>

        </div>
    </nav>
  
  