<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Paxcom</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">About</a>
            </div>
           
            <div class="nav navbar-nav flex-row ml-auto">
                <a class="nav-item nav-link" routerLink="./auth/registration">Signup</a>
                <a class="nav-item nav-link" routerLink="/auth/login">Login</a>
                <!-- <a class="nav-item nav-link" routerLink="/forms-materials">forms-materials</a> -->
            </div>

        </div>
    </nav>
  
  